 *{

	FONT-FAMILY: CENTURY GOTHIC;
}
UL{
	FLOAT: RIGHT;
LIST-STYLE-TYPE: NONE;
}
UL LI{
	DISPLAY: INLINE-BLOCK
}
UL LI  A{
	TEXT-DECORATION: NONE;
	COLOR: #FFF;
	PADDING: 5PX 20PX;
	BORDER: 1PX SOLID #FFF;
	TRANSITION: 0.6S EASE;
}
UL LI A:HOVER{
	BACKGROUND-COLOR: #FFF;
	COLOR: #000;
}



.log{

	FONT-FAMILY: CENTURY GOTHIC;
}
UL{
	FLOAT: center;
LIST-STYLE-TYPE: NONE;
}
UL LI{
	DISPLAY: normal;
}
UL LI  A{
	TEXT-DECORATION: NONE;
	COLOR: #FFF;
	PADDING: 5PX 20PX;
	BORDER: 1PX SOLID #FFF;
	TRANSITION: 0.6S EASE;
}
UL LI A:HOVER{
	BACKGROUND-COLOR: #FFF;
	COLOR: #000;
}
